In [86]:
import pandas as pd
import numpy as np

df = pd.read_csv("shopify.csv")

Average Order Value

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

Question - Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 

The current average order value is $3145.13 of 100 sneaker shops. The average order value has a high standard deviation of 41282 which signifies that the order values are spread far from the mean. This average order value does not represent the data properly.

In [88]:
df.order_amount.describe()

count      5000.000000
mean       3145.128000
std       41282.539349
min          90.000000
25%         163.000000
50%         284.000000
75%         390.000000
max      704000.000000
Name: order_amount, dtype: float64

Question - What metric would you report for this dataset?

A better approach would be understand what is the commerce behind the scenes which means we need to understand that shops are of two types wholesale shops and retail shops. The wholesale shops are the ones which sell the product in large quantity and at lower price while the retail shops are the one which sell things directly to customers which means the shop sells low quantity and at a higher price. On the basis of this logic, we make out that we need to have different average order value for each type of shops.

In this approach, we identify wholesale and retail shops and output the average order value of the retails shops as we have only one wholesale shop in the dataset. 

Steps -
1. Calculate the average order amount of each shop by getting total order amount and total number of sneakers sold by every shop.
    In this step we get to know that shop number 78 is a wholesale shop while others are retail shops.
2. Drop the row of wholesale shop.
3. Caluclate the average order value of this dataset of retail shops.

In [79]:
dfsum = df.groupby(['shop_id'])['order_amount'].sum().to_frame('total orders').reset_index().sort_values(['shop_id'])
dfqty = df.groupby(['shop_id'])['total_items'].sum().to_frame('sum_qty').reset_index().sort_values(['shop_id'])
#dfqty

df_final = pd.merge(dfsum,dfqty,on='shop_id')
df_final['average'] = df_final['total orders']/df_final['sum_qty']
df_final = df_final.sort_values(['average'],ascending = False)
df_final

    shop_id  total orders  sum_qty  average
77       78       2263800       88  25725.0
41       42      11990176    34063    352.0
11       12         18693       93    201.0
88       89         23128      118    196.0
98       99         18330       94    195.0
..      ...           ...      ...      ...
52       53         14560      130    112.0
99      100          8547       77    111.0
31       32          7979       79    101.0
1         2          9588      102     94.0
91       92          6840       76     90.0

[100 rows x 4 columns]

In [80]:
df = df_final.drop(df_final[df_final.average > 1000].index)

Question - What is its value?
 
The new average order value is 152.26 which has a quite low standard deviation of 31.26 than the earlier average order value. This average order value represents the data in an accurate manner.

In [81]:
df['average'].describe()

count     99.000000
mean     152.262626
std       31.263719
min       90.000000
25%      132.500000
50%      153.000000
75%      167.000000
max      352.000000
Name: average, dtype: float64

In [82]:
df_final['average'].describe()

count      100.000000
mean       407.990000
std       2557.462906
min         90.000000
25%        132.750000
50%        153.000000
75%        168.250000
max      25725.000000
Name: average, dtype: float64